/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1199px) {
    .pt-175 {
        padding-top: 100px;
    }
    .pb-258 {
        padding-bottom: 168px;
    }
    .deals-content > h2 {
        font-size: 30px;
    }
    .banner-wrap {
        margin-top: -60px;
    }
    .pb-146 {
        padding-bottom: 99px;
    }
    .pt-140 {
        padding-top: 93px;
    }
    .slider-content h1 {
        font-size: 50px;
    }
    .main-menu ul li {
        padding-right: 35px;
    }
    .main-menu nav > ul > li > ul.mega-menu > li {
        padding-left: 20px;
    }
    .main-menu nav > ul > li > ul.mega-menu {
        padding: 33px 10px 30px 0;
    }
    .shorting-style select {
        width: 105px;
    }
    .product-shorting.shorting-style select {
        width: 80px;
    }
    .view-mode {
        margin-right: 15px;
    }
    .shop-tags a {
        padding: 8px 5px;
    }
    .product-dec-slider {
        padding: 0 20px;
    }
    .cart-tax,
    .discount-code-wrapper {
        padding: 45px 20px 50px;
    }
    h4.cart-bottom-title {
        padding-right: 0;
    }
    .grand-totall {
        padding: 45px 20px 50px;
    }
    .masonary-style .quote-post {
        padding: 44px 34px 47px 37px;
    }
    .pagination-total-pages {
        padding: 15px 12px 13px;
    }
    .pagination-style li a.prev-next {
        padding: 11px 15px;
    }
    .pagination-style li {
        margin: 0 4px 0 0;
    }
    #exampleModal .modal-dialog {
        max-width: 920px;
        width: 920px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu {
        display: none;
    }
    .mobile-menu-area {
        display: block;
    }
    .logo {
        margin: 6px 0 0;
    }
    .header-bottom {
        padding: 25px 0;
    }
    .header-cart {
        margin-right: 70px;
        padding: 0px 0 0;
    }
    .mean-container a.meanmenu-reveal {
        top: -38px;
        border: 1px solid #333;
        padding: 5px 6px 2px;
    }
    .pb-258 {
        padding-bottom: 150px;
    }
    .pt-175 {
        padding-top: 75px;
    }
    .banner-wrap {
        margin-top: -42px;
    }
    .deals-content > h2 {
        font-size: 23px;
        margin: 5px 0 14px;
    }
    .timer-style {
        margin: 26px 0 40px;
    }
    .slider-content h1 {
        font-size: 45px;
    }
    .mobile-menu .mean-nav ul.menu-overflow {
        height: 216px;
        margin-top: 10px;
        overflow-y: auto;
    }
    .pb-146 {
        padding-bottom: 59px;
    }
    .pt-140 {
        padding-top: 53px;
    }
    .slider-area-2 .slider-content h1 {
        font-size: 37px;
        margin: 6px 0 15px;
    }
    .overview-content-2 > h2 {
        font-size: 30px;
    }
    .single-testimonial {
        margin-left: 0;
    }
    .testimonials-area.bg-img {
        background-position: 26% center;
    }
    .pb-115 {
        padding-bottom: 80px;
    }
    .pt-120 {
        padding-top: 85px;
    }
    .recent-post-img a img {
        width: 83px;
    }
    .recent-post-img {
        margin-right: 10px;
    }
    .single-comment-wrapper.ml-125 {
        margin-left: 0;
    }
    .link-post {
        padding: 53px 30px 57px;
    }
    .link-content > h3 {
        line-height: 30px;
    }
    .quote-post {
        padding: 54px 30px 57px 36px;
    }
    .blog-content > h2 {
        font-size: 24px;
    }
    .blog-wrapper .pagination-total-pages {
        display: block;
    }
    .blog-wrapper .pagination-total-pages {
        padding: 15px 15px 13px;
    }
    .blog-wrapper .pagination-style li a.prev-next {
        padding: 11px 12px;
    }
    .blog-wrapper .pagination-style li {
        margin: 0 5px 0 0;
    }
    .blog-wrapper .pagination-style {
        margin: 0 0 8px;
    }
    .single-blog-wrapper.mb-80 {
        margin-bottom: 50px;
    }
    .cart-shiping-update > a,
    .cart-clear > button,
    .cart-clear > a {
        padding: 18px 25px 19px;
    }
    .grand-totall {
        margin-top: 30px;
    }
    .checkout-login {
        margin-top: 40px;
    }
    .tab-content.tab-content-contact {
        margin-top: 40px;
    }
    .product-dec-slider {
        padding: 0 70px;
    }
    .product-dec-slider .product-dec-icon.product-dec-next {
        right: 50px;
    }
    .product-dec-slider .product-dec-icon {
        left: 50px;
    }
    .product-details-content {
        margin-top: 40px;
    }
    .shop-sidebar-mrg {
        margin-top: 40px;
    }
    .shorting-style select {
        width: 105px;
    }
    .product-shorting.shorting-style select {
        width: 80px;
    }
    .view-mode {
        margin-right: 15px;
    }
    .pagination-total-pages {
        padding: 15px 15px 13px;
    }
    #exampleModal .modal-dialog {
        width: 730px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .mobile-menu-area {
        display: block;
    }
    .welcome-area > p {
        text-align: center;
    }
    .account-curr-lang-wrap > ul > li::before {
        right: -5px;
    }
    .account-curr-lang-wrap ul li a {
        font-size: 13px;
    }
    .account-curr-lang-wrap ul li a i {
        font-size: 10px;
        margin-left: 2px;
    }
    .account-curr-lang-wrap ul li {
        margin-right: 6px;
    }
    .account-curr-lang-wrap ul li:last-child ul {
        left: -50px;
    }
    .main-menu {
        display: none;
    }
    .header-cart {
        margin-right: 25px;
        padding: 0px 0 0;
    }
    .header-bottom-right {
        justify-content: flex-start;
    }
    .cart-text > span.digit {
        margin-bottom: 5px;
    }
    .cart-text > span {
        font-size: 13px;
    }
    .header-cart > a .cart-icon span {
        bottom: -7px;
        line-height: 21px;
    }
    .header-cart > a .cart-icon i {
        font-size: 30px;
    }
    .mean-container a.meanmenu-reveal {
        top: -38px;
        border: 1px solid #333;
        padding: 5px 6px 2px;
    }
    .logo {
        margin: 0;
    }
    .header-bottom {
        padding: 25px 0;
    }
    .mobile-menu .mean-nav ul.menu-overflow {
        height: 216px;
        margin-top: 10px;
        overflow-y: auto;
    }
    .shopping-cart-content {
        padding: 31px 20px 10px;
        right: -45px;
        width: 290px;
    }
    .pb-258 {
        padding-bottom: 130px;
    }
    .pt-175 {
        padding-top: 55px;
    }
    .slider-content h1 {
        font-size: 30px;
    }
    .slider-content h3 {
        font-size: 30px;
    }
    .section-border {
        margin-right: 0;
    }
    .section-title-wrap {
        display: block;
        float: inherit;
        text-align: center;
    }
    .section-title {
        display: inline-block;
        font-size: 20px;
        margin: 0;
        padding-right: 10px;
        text-align: center;
        padding-left: 10px;
    }
    .product-tab-list {
        display: flex;
        float: inherit;
        justify-content: center;
        margin-top: 15px;
        padding-left: 0;
        margin-bottom: 45px;
    }
    .product-nav .owl-nav {
        left: 0;
        text-align: center;
    }
    .testimonials-area.bg-img {
        background-position: 32%;
    }
    .testimonials-area {
        position: relative;
    }
    .testimonials-area::before {
        background-color: #000;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        width: 100%;
        top: 0;
        bottom: 0;
    }
    .pb-115 {
        padding-bottom: 50px;
    }
    .pt-120 {
        padding-top: 55px;
    }
    .testimonial-active .owl-dots {
        margin: 20px 0 0;
    }
    .product-nav.best-selling-active .owl-nav,
    .product-nav.featured-product-active .owl-nav {
        top: -60px;
    }
    .best-selling-active {
        margin-top: 80px;
    }
    .featured-product-active.hot-flower {
        margin-top: 80px;
    }
    .deals-content {
        margin-top: 30px;
    }
    .deals-content > h2 {
        font-size: 27px;
        margin: 5px 0 10px;
    }
    .timer-style span {
        font-size: 17px;
        margin: 0 4px;
        padding: 7px 11px 6px;
    }
    .product-tab-list a {
        margin-left: 10px;
        margin-right: 10px;
    }
    .pt-70 {
        padding-top: 45px;
    }
    .pb-75 {
        padding-bottom: 50px;
    }
    .new-year-offer-content > h3 {
        font-size: 19px;
    }
    .payment-img.f-right {
        float: inherit;
        text-align: center;
        margin: 10px 0 0;
    }
    .copyright > p {
        text-align: center;
    }
    .pb-70 {
        padding-bottom: 50px;
    }
    .single-banner.mb-xs-banner.mb-30 {
        margin-bottom: 10px;
    }
    .account-curr-lang-wrap.f-right {
        display: flex;
        justify-content: center;
        float: inherit;
    }
    .pb-146 {
        padding-bottom: 56px;
    }
    .pt-140 {
        padding-top: 50px;
    }
    .slider-content.slider-animated-1.pl-30 {
        padding-left: 15px;
    }
    .slider-content h5 {
        font-size: 16px;
    }
    .timer-style {
        margin: 30px 0 30px;
    }
    .single-brand-logo {
        text-align: center;
    }
    .overview-content-2 > h2 {
        font-size: 23px;
        line-height: 1;
    }
    .overview-img {
        margin-top: 30px;
    }
    .pb-80 {
        padding-bottom: 50px;
    }
    .pt-80 {
        padding-top: 50px;
    }
    .single-count.mrgn-none {
        margin-bottom: 0;
    }
    .pt-75 {
        padding-top: 45px;
    }
    .single-testimonial > p {
        margin: 30px auto;
    }
    .blog-content > h2 {
        font-size: 18px;
    }
    .importent-title > h4 {
        font-size: 17px;
        line-height: 30px;
    }
    .highlights-img {
        margin-right: 15px;
    }
    .dec-img.dec-mrg {
        margin: 30px 0 0;
    }
    .blog-dec-tags-social {
        display: block;
    }
    .blog-dec-tags {
        margin-bottom: 7px;
    }
    .administrator-wrapper {
        display: block;
    }
    .administrator-img {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .administrator-content > h4 {
        margin-bottom: 10px;
    }
    .single-comment-wrapper {
        display: block;
    }
    .blog-comment-img {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .single-comment-wrapper.ml-125 {
        margin-left: 0;
    }
    .blog-sidebar-wrapper.sidebar-mrg {
        margin-top: 40px;
    }
    .blog-instagram img {
        width: 70px;
    }
    .blog-gallery-slider .owl-nav div {
        font-size: 25px;
        left: 20px;
    }
    .blog-gallery-slider .owl-nav div.owl-next {
        right: 20px;
    }
    .blog-widget.mb-50.mrg-none {
        margin-bottom: 0;
    }
    .ptb-75 {
        padding: 50px 0;
    }
    .blog-reply-wrapper form .text-leave input {
        margin-top: 25px;
    }
    .link-post {
        padding: 43px 25px 47px;
    }
    .link-content > h3 {
        line-height: 30px;
        font-size: 17px;
    }
    .quote-post {
        padding: 43px 20px 47px 28px;
    }
    .quote-content > h3 {
        font-size: 16px;
    }
    .quote-post.mb-55 {
        margin-bottom: 30px;
    }
    .highlights-title-wrapper {
        margin: 30px 0 28px;
    }
    .blog-social ul li {
        line-height: 1;
        margin-left: 8px;
    }
    .blog-social > span {
        margin: 0 10px 0 0;
    }
    .pagination-total-pages {
        display: block;
    }
    .pagination-style li {
        margin: 5px 2px;
    }
    .pagination-total-pages {
        padding: 15px 10px 13px;
    }
    .single-blog-wrapper.mb-80 {
        margin-bottom: 40px;
    }
    .single-blog-wrapper.mb-40 {
        margin-bottom: 30px;
    }
    .single-blog-wrapper.mb-45 {
        margin-bottom: 35px;
    }
    .single-blog-wrapper.mb-50 {
        margin-bottom: 35px;
    }
    .blog-btn-social.mt-30 {
        margin-top: 20px;
    }
    .pagination-total-pages.mt-50 {
        margin-top: 40px;
    }
    .masonary-style .quote-post {
        padding: 44px 24px 47px 27px;
    }
    .cart-shiping-update-wrapper {
        display: block;
        padding: 30px 0 30px;
    }
    .cart-shiping-update > a,
    .cart-clear > button,
    .cart-clear > a {
        margin: 0 0 15px;
        padding: 18px 35px 19px;
    }
    .cart-tax,
    .discount-code-wrapper {
        padding: 45px 18px 50px;
    }
    .discount-code-wrapper {
        margin: 40px 0;
    }
    #payment-1 .panel-body {
        padding: 30px 12px;
    }
    .checkout-login {
        margin-top: 35px;
    }
    .billing-select {
        margin-bottom: 20px;
    }
    .contact-page-title h1 {
        font-size: 25px;
    }
    .tab-content.tab-content-contact {
        margin-top: 40px;
    }
    .contact-information.contact-mrg {
        margin-top: 30px;
    }
    .login-form-container {
        padding: 30px 20px;
    }
    .login-register-tab-list {
        margin-bottom: 30px;
    }
    h5.panel-title a {
        padding: 20px 40px;
    }
    .entries-wrapper::before {
        display: none;
    }
    .entries-wrapper {
        padding: 30px 10px;
    }
    .entries-info {
        padding: 0 10px 30px;
    }
    .product-details-content {
        margin-top: 40px;
    }
    .pro-dec-btn {
        left: 0;
        right: auto;
        top: -50px;
    }
    .rating-review {
        display: block;
        margin: 10px 0 12px;
    }
    .pro-dec-review {
        margin: 5px 0 0;
    }
    .in-stock {
        margin: 12px 0 3px;
    }
    .pro-dec-social li {
        margin: 0 6px 10px 0;
    }
    .description-review-topbar a {
        font-size: 17px;
        margin: 0 8px;
        padding-bottom: 10px;
    }
    .tab-content.description-review-bottom {
        padding: 30px 0 0px;
    }
    .ratting-star.f-left {
        display: block;
        float: inherit;
    }
    .ratting-author.f-right {
        float: left;
        margin: 5px 0 10px;
    }
    .pb-65 {
        padding-bottom: 40px;
    }
    .shop-sidebar-mrg {
        margin-top: 40px;
    }
    .shop-topbar-wrapper {
        display: block;
        padding: 15px 15px 18px;
    }
    .view-mode {
        display: block;
        float: inherit;
        margin-right: 33px;
    }
    .shorting-style {
        margin-left: 0;
        margin-top: 10px;
    }
    .product-shorting.shorting-style select {
        width: 120px;
    }
    .shorting-style select {
        -moz-appearance: none;
        width: 120px;
    }
    .product-list .product-wrapper {
        display: block;
    }
    .product-list .product-img {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    #exampleModal .modal-dialog {
        max-width: 100%;
        width: 100%;
    }
    .modal-body {
        padding: 30px 20px;
    }
    .product-thumbnail {
        margin-bottom: 30px;
    }
    .modal-pro-content h3 {
        font-size: 20px;
    }
    .ptb-68 {
        padding: 50px 0;
    }
    .contact-page-title.mb-40 {
        margin: 0 0 20px;
    }
    .footer-top.pb-20 {
        padding-bottom: 23px;
    }
    .dec-img-wrapper {
        margin: 36px 0 33px;
    }    
    .blog-comment-wrapper.mt-55 {
        margin-top: 32px;
    }
    .single-comment-wrapper.mt-50 {
        margin-top: 30px;
    }    
    .blog-reply-wrapper.mt-50 {
        margin-top: 30px;
    }    
    .blog-reply-wrapper > form {
        margin-top: 30px;
    }    
    .blog-widget.mb-50 {
        margin-bottom: 40px;
    }    
    
    
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .account-curr-lang-wrap ul li {
        margin-right: 20px;
    }
    .account-curr-lang-wrap > ul > li::before {
        right: -12px;
    }
    .header-cart {
        margin-right: 60px;
    }
    .header-bottom-right {
        justify-content: flex-end;
    }
    .payment-img img {
        width: auto;
    }
    .slider-content h1 {
        font-size: 40px;
    }
    .overview-content-2 > h2 {
        font-size: 30px;
    }
    .blog-dec-tags-social {
        display: flex;
    }
    .blog-dec-tags {
        margin-bottom: 0;
    }
    .cart-shiping-update > a,
    .cart-clear > button,
    .cart-clear > a {
        margin: 0 10px 15px 0;
        padding: 18px 20px 19px;
    }
    .product-list .product-img {
        flex: 0 0 220px;
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .product-list-details > h4 {
        font-size: 17px;
    }
    .product-list .product-wrapper {
        display: flex;
    }
    .shorting-style {
        margin-right: 10px;
    }
}